
header {
    width: 100%;
    height: 100px;
    padding: 20px;
    /* border: solid purple 2px; */
    margin: 0px auto;
}

header img {
    font-family: 'Sunflower', sans-serif;
    float: left;
    height: 75px;
    /* border: dotted red 3px; */
}

header h1 {
    font-family: 'Sunflower', sans-serif;
    float: left;
    font-size: 30px;
    padding: 20px 0px 0px 20px;;
    /* border: dotted orange 3px; */
}

h3 {
    font-size: 20px;
    text-align: center;
    padding: 15px;
}

nav {
    float: right;
    margin-top: 40px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    /* border: solid yellow 3px; */
    width: 500px;
}

nav li {
    background-color: inherit;
    /* border: 1px solid #ddd; */
    display: inline-block;
    float: left;
    width: 60px;
    margin-left: 20px;
    padding: 14px 16px;
    /* border: blue dotted 2px; */
}

main {
    width: 90%;
    margin: 0px auto;
}

aside {
    float: left;
    width: 25%;
    /* margin: 20px; */
    border: 1px solid #ddd;
    padding: 20px;
    /* border: dotted green 3px; */
}

body {
    background-color: #F8F8F8;
    margin: 0px auto;
    /* border: dashed red 3px; */
}

#click-tracker-container {
    float: left;
    border: 1px solid #ddd;
    margin: 30px;
    /* border: solid red 1px; */
}

button {
    width: 300px;
    height: 30px;
    margin: 30px 30px 30px 300px;
    /* margin-left: 500px; */
    /* border: solid yellow 4px; */
}

#allProductsList li {
    display: inline-block;
    /* border: 1px solid #ddd; */
    padding: 30px;
}

#allProductsList img {
    max-height: 200px;
    max-width: 200px;
}

#large-paragraph {
    float: left;
    margin-left: 50px;
    width: 740px;
}

footer {
    float: left;
    margin-left: 50px;
}
